@model DAL.Models.Aluno

@{
    ViewData["Title"] = "Edit";
}

<h1 localize-content>@ViewData["Title"]</h1>

<h4 localize-content>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly/>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="NotaQuestionario" class="control-label"></label>
                <input asp-for="NotaQuestionario" class="form-control" readonly />
                <span asp-validation-for="NotaQuestionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer.Text("Save")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"  localize-content>Back to List</a>
</div>

