@{
    ViewData["Title"] = "Privacy Policy";
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
    Layout = "_Layout";
}
<alert></alert>
<h1 localize-content>@ViewData["Title"]</h1>

@*<p localize-content>Use this page to detail your site's privacy policy.</p>*@
<p localize-content>
    We are adapting to the new General Personal Data Protection Law (LGPD), which establishes the values, rights and obligations that must be observed, from now on, in the treatment of personal data. And you are part of that construction.

    In this new phase, we are happy to let go and offer you the transparency you deserve, so we share firsthand our new <a href="#"> <b> Terms of Use </b> </a> and our new <a href="#"> <b> Privacy Policy </b> </a>.
</p>
