@model DAL.Models.Configuracao

@{
    ViewData["Title"] = "Create";
}

<h1 localize-content>@ViewData["Title"]</h1>

<h4 localize-content>Settings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CabecalhoTexto1_Index" class="control-label"></label>
                <input asp-for="CabecalhoTexto1_Index" class="form-control" />
                <span asp-validation-for="CabecalhoTexto1_Index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaDeCorte" class="control-label"></label>
                <input asp-for="NotaDeCorte" class="form-control" />
                <span asp-validation-for="NotaDeCorte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto1_Index" class="control-label"></label>
                <input asp-for="Texto1_Index" class="form-control" />
                <span asp-validation-for="Texto1_Index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" localize-content>Back to List</a>
</div>

