@using DAL.Models
@model List<Nota>

@{
    ViewData["Title"] = "Evolução";
}

<h1>@ViewData["Title"]</h1>
<div class="mt-4">
    @if (Model.Count == 0)
    {
        <h5 localize-content>No notes released yet</h5>
    }
    else
    {

        <table class="table">
            <thead>
                <tr>
                    <th localize-content>Course</th>
                    <th localize-content>Module</th>
                    <th localize-content>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nota in Model)
                {
                    <tr>
                        <td>@nota.Modulo.Curso.Nome</td>
                        <td>@nota.Modulo.Descricao</td>
                        <td>@nota.Valor</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

