@model double

@{
    ViewData["Title"] = "Media";
}

<h1>ID do Aluno: @ViewData["AlunoId"]</h1>
<h5>Média: @Model.ToString() - Você terá acesso a todos os cursos! (Somente enquanto estivermos testando)</h5>

